.thContainer {
  min-width: 90px;
  padding: '0 3px 6px 3px';
  text-align: left;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.thTopContainer {
  min-width: 90px;
  padding: '0 3px 6px 3px';
  text-align: left;
  color: '#000';
  text-overflow: ellipsis;
  white-space: nowrap;

}

.tdText {
  text-align: left;
  color: #000;
}

.tdContainer {
  text-align: left;
  color: #000;
}

.tdTopusers {
  text-align: left;
  color: #000;
}

.trDivider {
  border-bottom-width: 1px;
  border-bottom-color: #C5C8E2
}
